<!DOCTYPE html>
<html>

<body style="background-image: url('static/images/bg.jpg'); background-attachment: fixed;
background-size: cover;  background-repeat: no-repeat;">

<h1 style="color:white;text-align:center;">Get updates on the effect of coronavirus in India</h1>

<a href="{{ url_for( 'display_user_options' ) }}" style="display: block;
text-align: center;
background: rgb(248, 145, 48);
border-radius: 3px;
color: rgb(24, 15, 15);
width: 300px;
height: 50px;
font-size: 20px;
line-height: 50px;
margin: auto;
margin-top: 283px;">Get started</a>
 
</body>
</html>
